:root {
  --color-tan: rgb(241, 240, 240);
  /* font-family: 'Megrim', cursive; */
  /* font-family: 'Roboto', sans-serif; */
  /* font-family: 'Share', cursive;   */
}

.App {
  font-family: 'Roboto', sans-serif; 
}

nav {
  font-size: 2em;
  border-bottom: 1px solid var(--color-tan);
  padding: .5em;
  font-family: 'Bungee Hairline', 'Roboto', sans-serif;
  font-weight: bold;
  position: sticky;
}

/* https://www.w3schools.com/colors/colors_gradient.asp */
nav i {
  background: linear-gradient(to bottom right, #33ccff 0%, #ff99cc 100%);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-tan);
}